.checkbox-wrapper {
    position: relative;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        z-index: 1;
    }

    .checkbox-image {
        flex: 0 0 1rem;
        height: 1rem;
        cursor: pointer;
        position: relative;
        z-index: 2;

        background-image: url(../../assets/checkbox-default.svg);
    }

    &:hover {
        .checkbox-image {
            background-image: url(../../assets/checkbox-hover.svg);
        }
    }

    &:has(:checked) .checkbox-image {
        background-image: url(../../assets/checkbox-selected.svg);
    }
}