.delete-message {
    display: flex;
    padding: .75rem .75rem;
    background-color: var(--danger);
    border-radius: .75rem; /* 12px */
    align-items: center;

    p {
        font: var(--label);
        color: var(--always-white);
        margin-left: .5rem;
    }

    p + img {
        margin-left: auto;
        cursor: pointer;
    }
}

.items-list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 2.25rem;
}

.items-wrapper {
    display: flex;
    padding: .5rem .75rem;
    background-color: var(--background-secondary);
    border-radius: .75rem;
    height: var(--item-height);
    align-items: center;

    label {
        font: var(--paragraph);
        color: var(--content-secondary);
        margin-left: .75rem;
    }

    img {
        margin-left: auto;
    }
}

.checkbox-wrapper {
    position: relative;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image {
        flex: 0 0 1rem;
        height: 1rem;

        background-image: url(../../assets/checkbox-default.svg);
    }

    &:hover {
        .checkbox-image {
            background-image: url(../../assets/checkbox-hover.svg);
        }
    }

    &:has(:checked) .checkbox-image {
        background-image: url(../../assets/checkbox-selected.svg);
    }
}