input {
    appearance: none;
    width: 100%;
    height: 2.75rem; /* 44px */
    border-radius: .75rem; /* 12px */
    border: 2px solid var(--border-primary);
    outline: 1px solid var(--border-primary);
    padding-inline: 1.125rem; /* 18px */
    
    background-color: var(--background-secondary);
    font: var(--paragraph);
    color: var(--content-tertiary);
}

input::placeholder {
    color: var(--content-tertiary);
}

input:hover {
    border-color: var(--border-hover);
    color: var(--content-tertiary);
}

input:hover::placeholder {
    color: var(--content-tertiary);
}

input:focus {
    border-color: var(--brand);
    color: var(--content-secondary);
}

input:focus::placeholder {
    color: var(--content-secondary);
}
